@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    font-family: 'Inter';
}
table{
    overflow : scroll;
}
body{
    background-color: #fff;;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 32px;
    font-weight: 600;
}
tr:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
.pagination li{
	float: left;
	list-style-type: none;
	margin:5px;
    }
.img-fluid{
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
}
.img-fluid:hover{
    transform: scale(1.2);
}
i{
    color: white;
    font-size: 48px;
}
.button-modal{
    width: 100%;
}


/* Breakpoint */
@media (min-width: 1200px){
    img.jumbo-img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 380px){
    .navbar{
        position: fixed;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    }
    .register-btn{
        width: 100%;
    }
    .jumbotron{
        padding: 150px 0;
        justify-content: center;
    }
    .text-section{
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .large-title{
        font-size: 2em;
    }
    img.jumbo-img{
        display: flex;
        margin: auto;
        margin-top: 50px;
        width: 450px;
        height: 450px;
    }
}